language: node_js
node_js: stable

# S: Build Lifecycle
install:
    - npm install

    #before_script:
    # - npm install -g gulp

script:
    - hexo clean
    - hexo generate

after_script:
    - cd ./public
    - git init
    - git config user.name "songjianet"
    - git config user.email "1778651752@qq.com"
    - git add .
    - git commit -m "ci commit"
    - git push --force --quiet "https://${BLOG_TOKEN}@${GH_REF}" master:gh-pages
    - hexo deploy
# E: Build LifeCycle

branches:
    only:
        - master
env:
    global:
        - GH_REF: github.com/songjianet/blog.git
